<html>
    <head>
        <title>ConvertMyMoney</title>
        <link rel="stylesheet" href="/estilos.css"/>
    </head>
    <body>
        <h1><a href="/"><img src="/logo.png" alt="Convert my Money"></a></h1>